body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FEFCFE;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

p {
    margin: 0;
}

footer {
    background-color: #E5E5E5;
    padding-top: 58px;
    /*display: flex;*/
}

.nav {
    list-style-type: none;
    max-width: 1150px;
    width: 100%;
    padding-left: 0;
    padding-top: 49px;
    padding-bottom: 0;
    margin: 0;
    display: flex;
}

.logo {
    /*position: absolute;*/
    max-width: 97px;
    margin-top: 49px;
    margin-left: 53px;
    padding: 0;
}

.nav:first-child {
    /*margin-left: -669px;*/
}

.nav:last-child {
    margin-right: 50px;
}

.nav-item {
    margin: 0 27px;
    font-size: 18px;
    line-height: 150%;
}

.nav-item:hover {
    border-bottom: 1px solid #2B3541;
}

/*.footer-nav-item:hover {*/
/*    !*border-bottom: 1px solid #2B3541;*!*/
/*}*/

.nav-icons {
    display: flex;
    list-style-type: none;
    margin: 49px 30px 0 0;
}

.icons:first-child {
    padding-right: 30px;
}

.nav-link {
    color: #2B3541;
    text-decoration: none;
}

.start {
    display: flex;
    position: relative;
    color: #2B3541;
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.in-photo {
    position: absolute;
}

.online-photo {
    position: relative;
    margin-left: 25%;
    margin-right: 10%;
}

.arrow {
    margin-left: 91px;
    margin-top: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.online {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 226px;
    width: 100%;
    max-width: 676px;
}

.workout,
.online-span {
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}

.online-span {
    margin-right: 16px;
}

.workout {
    margin: 0;
}

.online-p {
    width: 293px;
    height: 49px;
    margin: 20px 0 40px 91px;
}

.button-online {
    margin-left: 91px;
}

button {
    border: 0;
    width: 252px;
    height: 64px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    background-color: #FBF138;
    box-shadow: 0 13px 24px rgba(251, 241, 56, 0.3);
    padding: 0;
    cursor: pointer;
}

button:hover {
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.wrapper {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    /* margin-top: 160px;
    margin-bottom: 40px; */
}

.style-h3 {
    margin-top: 160px;
}

.events {
    display: flex;
    justify-content: space-between;
}

.events-about {
    display: flex;
    position: relative;
}

/*.events-a.bout:after {*/

/*}*/

.events-about:hover .events-type {display: none;}

.events-about:hover .participate {display: inline;}

.events-about:hover .div-image-01 {background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/maraphon hover.png");}

.events-about:hover .div-image-02 {background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Vebinar 1.png");}

.events-about:hover .div-image-03 {background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Vebinar 2.png");}

.div-image-01 {
    position: relative;
    width: 367px;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/maraphon.png");
}

.div-image-02 {
    position: relative;
    width: 367px;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Vebinar 1.png");
}

.div-image-03 {
    position: relative;
    width: 367px;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Vebinar 2.png");
}

.events-absolute {
    position: absolute;
}

.events-date {
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    padding: 30px 0 20px 30px;
    margin: 0;
}

/* .events-box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 126px;
    height: 47px;
    background: #FBF138;
    text-align: center;
} */

.events-type {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 126px;
    height: 47px;
    background: #FBF138;
    font-size: 18px;
    color: #2B3541;
    display: flex;
    justify-content: center;
    align-items: center;
}

.participate {
    display: none;
    position: absolute;
    top: 185px;
    left: 30px;
    color: #FBF138;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    /*letter-spacing: 0.03em;*/
    /*text-transform: uppercase;*/
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.open_modal {
    text-decoration: none;
    color: #FBF138;;
}

.events-p {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    width: 260px;
    height: 70px;
    margin: 0;
    padding: 20px 0 0 30px;
}

.timetable {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}

.h3-grid {
    width: 356px;
}

.date-grid {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    margin: 40px 0;
}

.div-grid {
    display: grid;
    grid-template-columns: repeat(4, 367px);
    align-content: start;
    column-gap: 20px;
    row-gap: 20px;
}

.section {
    border: 1px solid #2B3541;
    position: relative;
}

.section:hover {
    border: none;
    background: #FEFCFE;
    /* opacity: 0.5; */
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.section-01 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 250px;
}

.section-02 {
    grid-column: 1 / 2;
    grid-row:  2 / 5;
    height: 433px;
}

.section-03 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    height: 402px;
}

.section-04 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    height: 281px;
}

.section-05 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 309px;
}

.section-06 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    height: 374px;
}

.section-date {
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
    padding: 20px 30px 0 0;
    position: absolute;
    right: 0;
}

.section-image {
    position: absolute;
    bottom: 83px;
    left: 30px;
}

.section-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.section-image-02 {
    position: absolute;
    bottom: 184px;
    left: 30px;
}

.section-text-02 {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    position: absolute;
    bottom: 140px;
    left: 30px;
}

.section-description {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.mailing {
    background-color: #E5E5E5;
    margin: 160px 0;
    padding: 80px 0;
    text-align: center;
    position: relative;
}

.div-cirlce {
    position: relative;
    max-width: 587px;
    max-height: 49px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.h3-mailing {
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.circle {
    /* box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3); */
    position: absolute;
    z-index: 1;
    left: -60px;
    top: -30px;
}

.block-input {
    position: relative;
    width: 617px;
    height: 100px;
    /*max-width: 1143px;*/
    margin: 0 auto;
}

.email {
    position: absolute;
    left: 0;
    margin-bottom: 10px;
    width: 334px;
    height: 27px;
    background: #FFFFFF;
    border: none;
    padding: 19px;
    color: rgba(43, 53, 65, 0.3);
    outline: none;
}

.email:hover {
    background-color: #F3F3F3;
}

.subscribe {
    position: absolute;
    margin-left: 20px;
    padding: 20px 43px;
    right: 0;
    width: 225px;
}

.check {
    position: absolute;
    bottom: 0;
    max-width: 617px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.check-box-onclick {
    display: none;
}

.check:active .check-box-onclick {display: inline}
/*todo доработать нажатие кнопки*/

.check-box {
    cursor: pointer;
}

.per-inf {
    font-size: 11px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.5;
    padding-left: 5px;
    margin: auto 0;
}

.a-link:hover {
    color: rgba(43, 53, 65, 1);
}

.about-company {
    position: relative;
    margin-top: 160px;
}

.h3-company {
    margin: 0;
    padding-right: 0;
}

.about-company-text {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin-top: 19px;
    top: 69px;
    width: 483px;
}

.button-company {
    top: 142px;
    padding: 20px 43px;
    margin-top: 34px;
}

.trainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 581px;
    height: 336px;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/trainer.png");
    position: absolute;
    top: 0;
    right: 0;
}

.company-block {
    margin-top: 140px;
    margin-bottom: 170px;
    display: flex;
    justify-content: space-between;
}

.company-block-size {
    width: 25%px;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
}

.company-text {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    margin-top: 20px;
    white-space: pre-wrap;
    overflow: hidden;
}

h5 {
    white-space: pre-wrap;
    overflow: hidden;
}

.footer-links,
.frontendblock {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.footer-logo {
}

.footer-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-nav-item {
    padding: 0 45px;
}

.footer-nav-link {
    text-decoration: none;
}

.footer-nav-item:first-child {
    padding-left: 0;
}

.footer-email {
    width: 144px;
    height: 24px;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
}

.ellipse {
    position: absolute;
    z-index: 1;
    left: -40px;
    top: -22px;
}

.footer-info {
    position: absolute;
    z-index: 2;
}

.footer-nav-icons {
}

.frontendblock {
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.3;
    padding-top: 21px;
}

.instagram:hover {
    width: 38px;
    height: 38px;
}

.facebook:hover {
    width: 38px;
    height: 38px;
}

.modal_div {
    width: 600px;
    height: 577px;
    background: #F3F3F3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
    z-index: 5;
}

#overlay {
    z-index: 3;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.form-heading {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #2B3541;
    padding-top: 60px;
}

.form-circle {
    position: absolute;
    left: 106px;
    top: 13px;
}

.form-text {
    position: relative;
}

.modal_close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.form-information {
    text-align: center;
    padding: 18px 129px 30px 129px;
}

.form-email {
    margin: 10px 50px;
    padding-left: 19px;
    background: #FFFFFF;
    border: none;
    color: rgba(43, 53, 65, 0.3);
    outline: none;
    width: 475px;
    height: 65px;
}

.form-phone {
    margin: auto 50px;
    padding-left: 19px;
    background: #FFFFFF;
    border: none;
    color: rgba(43, 53, 65, 0.3);
    outline: none;
    width: 475px;
    height: 65px;
}

.form-btn {
    margin: 30px 50px 80px 50px;
    width: 100%;
    max-width: 500px;
    max-height: 65px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

