body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FEFCFE;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

p {
    margin: 0;
}

footer {
    background-color: #E5E5E5;
    padding-top: 58px;
}

nav {
    max-width: 1150px;
    width: 100%;
}

.nav {
    list-style-type: none;

    padding-left: 0;
    padding-top: 49px;
    padding-bottom: 0;
    margin: 0;
    display: flex;
}

.logo {
    /*position: absolute;*/
    max-width: 97px;
    margin-top: 49px;
    margin-left: 53px;
    padding: 0;

}

.nav:last-child {
    margin-right: 50px;
}

.nav-item {
    margin: 0 27px;
    font-size: 18px;
    line-height: 150%;
}

.nav-item:first-child {

}

.nav-item:hover {
    border-bottom: 1px solid #2B3541;
}

.nav-icons {
    display: flex;
    list-style-type: none;
    margin: 49px 30px 0 0;

}

.icons:first-child {
    padding-right: 30px;
}

.nav-link {
    color: #2B3541;
    text-decoration: none;
}

.start {
    display: flex;
    position: relative;
    color: #2B3541;
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.in-photo {
    position: absolute;
}

.online-photo {
    background-image: url("../files/@1x/Image 1 screen.png");
    background-size: 100%;
    position: relative;
    width: 100%;
    /*max-width: 1325px;*/
    height: 814px;
    margin-left: 17%;
    margin-right: 0;
    padding: 0;
    /*margin-right: 10%;*/
    /*overflow: hidden;*/
    /*object-fit: cover;*/
}

/*.online-photo img {*/
/*    width: 100%;*/
/*    !*height: 852px;*!*/
/*    position: absolute;*/
/*    left: -50%;*/
/*    top: -50%;*/
/*    transform: translate(50%, 50%);*/
/*    object-fit: cover;*/
/*}*/

.arrow {
    margin-left: 91px;
    margin-top: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.online {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 226px;
    width: 100%;
    max-width: 676px;
}

.workout,
.online-span {
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}

.online-span {
    margin-right: 16px;
}

.workout {
    margin: 0;
}

.online-p {
    width: 293px;
    height: 49px;
    margin: 20px 0 40px 91px;
}

.button-online {
    margin-left: 91px;
}

button {
    border: 0;
    width: 252px;
    height: 64px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    background-color: #FBF138;
    box-shadow: 0 13px 24px rgba(251, 241, 56, 0.3);
    padding: 0;
    cursor: pointer;
}

button:hover {
    color: #FBF138;
    background-color: #2B3541;
    box-shadow: 0 13px 24px rgba(70, 86, 106, 0.2);
}

.wrapper {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    /* margin-top: 160px;
    margin-bottom: 40px; */
}

.style-h3 {
    margin-top: 160px;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.events-about {
    display: flex;
    /*position: relative;*/
}

/*.events-about:after {*/

/*}*/

.events-about:hover .events-type {display: none;}

.events-about:hover .participate {display: inline;}

.events-about:hover .div-image-01 {background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/maraphon hover.png");}

.events-about:hover .div-image-02 {background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Vebinar 1.png");}

.events-about:hover .div-image-03 {background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Vebinar 2.png");}

.div-image-01 {
    position: relative;
    width: 367px;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/maraphon.png");
    background-size: 100%;
}

.div-image-02 {
    position: relative;
    width: 367px;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Vebinar 1.png");
    background-size: 100%;
}

.div-image-03 {
    position: relative;
    width: 367px;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Vebinar 2.png");
    background-size: 100%;
}

.events-absolute {
    position: absolute;
}

.events-date {
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    padding: 30px 0 20px 30px;
    margin: 0;
}

/* .events-box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 126px;
    height: 47px;
    background: #FBF138;
    text-align: center;
} */

.events-type {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 122px;
    height: 47px;
    background: #FBF138;
    font-size: 18px;
    color: #2B3541;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add,
.add-01 {
    display: none;
}

.participate {
    display: none;
    position: absolute;
    top: 185px;
    left: 30px;
    color: #FBF138;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    /*letter-spacing: 0.03em;*/
    /*text-transform: uppercase;*/
    background-color: #2B3541;
    box-shadow: 0 13px 24px rgba(70, 86, 106, 0.2);
}

.open_modal {
    text-decoration: none;
    color: #FBF138;;
}

.events-p {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    width: 260px;
    height: 70px;
    margin: 0;
    padding: 20px 0 0 30px;
}

.timetable {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}

.h3-grid {
    width: 356px;
}

.date-grid {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    margin: 40px 0;
}

.div-grid {
    display: grid;
    grid-template-columns: repeat(4, 367px);
    align-content: start;
    column-gap: 20px;
    row-gap: 20px;
}

.section {
    border: 1px solid #2B3541;
    position: relative;
}

.section:hover {
    border: none;
    background-color: #FEFCFE;
    /*opacity: 0.5;*/
    box-shadow: 0 4px 30px rgba(43, 53, 65, 0.2);
}

.section-01 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 250px;
}

.section-02 {
    grid-column: 1 / 2;
    grid-row:  2 / 5;
    height: 433px;
}

.section-03 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    height: 402px;
}

.section-04 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    height: 281px;
}

.section-05 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 309px;
}

.section-06 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    height: 374px;
}

.section-date {
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
    padding: 20px 30px 0 0;
    position: absolute;
    right: 0;
}

.section-image {
    position: absolute;
    bottom: 83px;
    left: 30px;
}

.section-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.section-image-02 {
    position: absolute;
    bottom: 184px;
    left: 30px;
}

.section-text-02 {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    position: absolute;
    bottom: 140px;
    left: 30px;
}

.section-description {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.mailing {
    background-color: #E5E5E5;
    margin: 160px 0;
    padding: 80px 0;
    text-align: center;
    position: relative;
}

.div-cirlce {
    position: relative;
    max-width: 587px;
    max-height: 49px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.h3-mailing {
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.circle {
    /* box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3); */
    position: absolute;
    z-index: 1;
    left: -60px;
    top: -30px;
}

.block-input {
    position: relative;
    width: 617px;
    height: 100px;
    /*max-width: 1143px;*/
    margin: 0 auto;
}

.email {
    position: absolute;
    left: 0;
    margin-bottom: 10px;
    width: 334px;
    height: 27px;
    background: #FFFFFF;
    border: none;
    padding: 19px;
    color: rgba(43, 53, 65, 0.3);
    outline: none;
}

.email:hover {
    background-color: #F3F3F3;
}

.subscribe {
    position: absolute;
    margin-left: 20px;
    padding: 20px 43px;
    right: 0;
    width: 225px;
}

.check {
    position: absolute;
    bottom: 0;
    max-width: 617px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.check-box-onclick {
    display: none;
}

.check:active .check-box-onclick {display: inline}
/*todo доработать нажатие кнопки*/

.check-box {
    cursor: pointer;
}

.per-inf {
    font-size: 11px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.5;
    padding-left: 5px;
    margin: auto 0;
}

.a-link:hover {
    color: black;
    opacity: 1;
    cursor: pointer;
}

.h3-company {
    margin: 0;
    padding-right: 0;
}

.about-company-text {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin-top: 19px;
    top: 69px;
    width: 100%;
    max-width: 483px;
}

.button-company {
    top: 142px;
    padding: 20px 43px;
    margin-top: 34px;
}

.trainer {
    width: 100%;
    max-width: 581px;
    height: 336px;
    /*object-fit: cover;*/
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/trainer.png");
    background-size: 100%;
}

.company-block {
    margin-top: 140px;
    margin-bottom: 170px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.company-block-size {
    width: 25%;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    margin-top: 80px;
}

.company-text {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
    margin-top: 20px;
    white-space: pre-wrap;
    overflow: hidden;
}

h5 {
    white-space: pre-wrap;
    overflow: hidden;
}

.about-company {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*display: flex;*/
    /*justify-content: space-between;*/
    margin-top: 160px;
    margin-bottom: 170px;
}

.grid-01 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.grid-02 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.grid-03 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.grid-04 {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
}
.grid-05 {
     grid-column: 1 / 2;
     grid-row: 4 / 5;
 }
.grid-06 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.grid-07 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.grid-08 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.grid-09 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.grid-10 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}
.grid-11 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
.grid-12 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.footer-links,
.frontendblock {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-logo {
}

.footer-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-nav-item {
    padding: 0 35px;
}

.footer-nav-link {
    text-decoration: none;
    color: #2B3541;
}

.footer-nav-item:first-child {
    margin-left: 72px;
    padding-left: 0;
}

.footer-flex {
    display: flex;
}

.footer-email {
    width: 144px;
    height: 24px;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
}

.ellipse {
    position: absolute;
    z-index: 1;
    left: -138px;
    top: -22px;
}

.footer-info {
    position: absolute;
    z-index: 2;
    left: -97px;
}

.footer-nav-icons {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.frontendblock {
    font-size: 14px;
    line-height: 150%;
    padding-top: 21px;
}

.frontendblock-div {
    padding: 8px 0;
    color: #2B3541;
    opacity: 0.3;
}

.a-link {
    color: rgba(43, 53, 65, 1);
}

.instagram:hover {
    width: 38px;
    height: 38px;
}

.facebook:hover {
    width: 38px;
    height: 38px;
}

.modal_div {
    width: 600px;
    height: 577px;
    background: #F3F3F3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
    z-index: 5;
}

#overlay {
    z-index: 3;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.form-heading {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #2B3541;
    padding-top: 60px;
}

.form-circle {
    position: absolute;
    left: 106px;
    top: 13px;
}

.form-text {
    position: relative;
}

.modal_close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.form-information {
    text-align: center;
    padding: 18px 129px 30px 129px;
}

.form-email {
    margin: 10px 50px;
    padding-left: 19px;
    background: #FFFFFF;
    border: none;
    color: rgba(43, 53, 65, 0.3);
    outline: none;
    width: 475px;
    height: 65px;
}

.form-phone {
    margin: auto 50px;
    padding-left: 19px;
    background: #FFFFFF;
    border: none;
    color: rgba(43, 53, 65, 0.3);
    outline: none;
    width: 475px;
    height: 65px;
}

.form-btn {
    margin: 30px 50px 80px 50px;
    width: 100%;
    max-width: 500px;
    max-height: 65px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*.section-gradient:hover {*/
/*    !*display: none;*!*/
/*    position: relative;*/
/*    border: none;*/
/*    width: 100%;*/
/*    background: linear-gradient(360deg, rgba(253, 249, 182, 0.45) 0%, rgba(251, 241, 56, 1) 100%);*/
/*    opacity: 1;*/
/*    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);*/
/*}*/

@media (max-width: 1200px) {
    .about-company-text {
        font-size: 16px;
    }
    .date-grid,
    .h3-company {
        font-size: 26px;
    }

    .workout,
    .online-span,
    h3 {
        font-size: 28px;
    }

    .online {
        font-size: 30px;
    }

    nav {
        width: auto;
    }

    .online-photo {
        margin-left: 12%;
    }

    .online-span {
        margin-right: 8px;
    }

    .online-p,
    .button-online {
        font-size: 14px;
        margin-left: 60px;
    }

    .wrapper {
        max-width: 750px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .div-image-01,
    .div-image-02,
    .div-image-03 {
        width: 240px;
        height: 392px;
    }

    .events-p {
        font-size: 20px;
        padding: 10px 0 0 25px;
        width: 215px;
    }

    .events-date {
        font-size: 16px;
        padding: 20px 0 0 25px;
    }

    .events-type {
        width: 87px;
        height: 30px;
        font-size: 14px;
    }

    .participate {
        left: 25px;
        width: 196px;
        height: 50px;
        font-size: 14px;
    }

    .timetable {
        margin-top: 80px;
    }

    .div-grid {
        margin: 0 auto;
        grid-template-columns: repeat(2, 370px);
    }

    .section-02 {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    .section-03 {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
        height: inherit;
    }

    .section-04 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .section-05 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .section-06 {
        grid-column: 2 / 3;
        grid-row: 4 / 6;
    }

    h5 {
        font-size: 16px;
    }
    .company-text {
        font-size: 16px;
    }

    .company-block {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    button {
        font-size: 16px;
        width: 217px;
        height: 55px;
    }
    .button-company,
    .subscribe {
        padding: 0;
    }
    footer {
        padding-top: 30px;
    }
    .footer-nav {
        justify-content: space-between;
        max-width: 550px;
        margin: auto;
        padding-top: 30px;
    }
    .footer-nav-item:first-child {
        margin-left: 0;
    }
    .footer-nav-item {
        padding: 0;
    }
    .footer-links {
        max-width: 750px;
        display: inline;
    }
    .footer-flex {
        display: flex;
        justify-content: space-between;
        max-width: 550px;
        padding-top: 30px;
        margin: auto;
    }
    .footer-info {
        left: 0;
    }
    .ellipse {
        left: -40px;
        top: -20px;
    }
    .frontendblock {
        display: inline;
        padding-top: 30px;
    }

}

@media (max-width: 900px) {
    .start {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        /*margin: 0;*/
    }
    .online-photo {
        margin: auto;
    }
    .in-photo {
        position: static;
        margin: 0 auto;
    }
    .online {
        margin-top: 60px;

    }
    .arrow {
        display: none;
        flex-direction: column;
    }
    .trainer {
    /*max-width: 400px*/
    }
}

@media (max-width: 800px) {
    .section {
        width: 100%;
        /*max-width: 680px;*/
        max-height: 228px;
        margin: 0 auto;
    }
    .wrapper {
        max-width: 750px;
    }
    .section {
        margin: 0 auto;
    }
    .div-grid {
        margin: 0 auto;
        grid-template-columns: repeat(1, 500px);
    }
    .h3-grid {
        font-size: 26px;
        line-height: 32px;
    }
    .date-grid {
        font-size: 16px;
        line-height: 120%;
        opacity: 0.7;
    }
    .section-image {
        width: 30px;
        height: 30px;
    }
    .section-text {
        font-size: 16px;
    }
    .section-description {
        font-size: 12px;
    }
    .section-02 {
        grid-column: 1 / 2;
        grid-row:  2 / 3;
    }

    .section-03 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        height: 228px;
    }

    .section-04 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .section-05 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .section-06 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .circle {
        left: 30px;
        top: -40px;
    }
    .footer-nav-item {
        font-size: 12px;
    }
    .trainer {
        max-width: 375px;
        height: 216px;
    }
    h5 {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .about-company {
        margin: 100px 0;
    }
}

@media (max-width: 500px) {
    .online,
    .workout,
    .online-span {
        font-size: 26px;
    }
    button,
    .online-p {
        font-size: 16px;
    }
    .start {
        width: 100%;
        max-width: 340px;
        margin: auto;
    }
    .wrapper {
        width: 100%;
        max-width: 340px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .online {
        margin-top: 60px;
        line-height: 125%
    }
    .workout {
        margin-top: 40px;
    }
    .online-p {
        margin: 16px 0 0 0;
    }
    .online-photo {
        background-image: url("../files/@1x/girl.png");
        width: 340px;
        height: 310px;
        margin-top: 40px;
    }
    .button-online {
        margin: 40px 0 0 0;
        width: 340px;
        height: 65px;
    }
    .style-h3 {
        margin-top: 80px;
    }
    .events {

    }
    .events-date {
        padding-left: 20px;
        font-size: 12px;
        line-height: 100%;
    }
    .events-p {
        padding-left: 20px;
        font-size: 16px;
        line-height: 120%;
        max-width: 134px;
    }
    .events-type {
        font-size: 12px;
        line-height: 150%;
        left: 0;
    }
    .add,
    .add-01 {
        display: inline;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .add-01 {
        cursor: pointer;
    }
    .div-image-01,
    .div-image-02 {
        width: 165px;
        height: 309px;
        background-size: cover;
    }
    .div-image-03 {
        position: relative;
        width: 340px;
        height: 336px;
        margin-top: 10px;
        background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%), url("../files/@1x/Event.png");
        background-size: 100%;
    }
    .h3-grid {
        font-size: 26px;
        line-height: 32px;
        margin: 0;
    }
    .date-grid {
        font-size: 16px;
        line-height: 120%;
        margin-top: 10px;
    }
    .section-date {
        padding: 20px 20px 0 0;
        font-size: 16px;
        line-height: 150%;
        color: #010101;
        opacity: 0.7;
    }
    .section-text {
        font-size: 16px;
        line-height: 120%;
        left: 77px;

    }
    .section-image {
        bottom: 20px;
        left: 20px;
    }
    .image-01 {
        width: 39px;
        height: 39px;
    }
    .image-02 {
        width: 34px;
        height: 53px;
    }
    .image-03 {
        width: 23px;
        height: 45px;
    }
    .image-04 {
        width: 39px;
        height: 37px;
    }
    .image-05 {
        width: 46px;
        height: 25px;
    }
    .image-06 {
        width: 35px;
        height: 40px;
    }
    .section-description {
        display: none;
    }
    .mailing {
        margin-top: 80px;
        padding-top: 57px;
    }
    .h3-mailing {
        font-size: 26px;
        line-height: 32px;
    }
    .circle {
        left: 10px;
        top: -42px;
    }
    .block-input {

        position: static;
    }
    .email {
        width: 302px;
        position: static;
    }
    .subscribe {
        position: static;
    }
    .check {

    }
    .about-company {
        display: grid;
        grid-template-columns: 1fr;
        /*display: flex;*/
        /*justify-content: space-between;*/
        margin: 0 auto;
    }

    .grid-01 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .grid-02 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .grid-03 {
        grid-column: 1 / 2;
        grid-row: 11 / 12;
    }
    .grid-04 {
        grid-column: 1 / 2;
        grid-row: 12 / 13;
    }
    .grid-05 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .grid-06 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .grid-07 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .grid-08 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    .grid-09 {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }
    .grid-10 {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }
    .grid-11 {
        grid-column: 1 / 2;
        grid-row: 9 / 10;
    }
    .grid-12 {
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }
    h5 {
        margin: 40px 0 16px 0;
    }
    .company-text {
        max-width: 223px;
        margin: 0;
    }
    .h3-company {
        font-size: 26px;
        line-height: 32px;
    }
    .about-company-text {
    }
    .trainer {
        max-width: 360px;
        height: 207px;

    }
    .button-company {
        margin: 40px auto;
        width: 360px;
        height: 65px;
    }
    footer {
        background-color: inherit;
        margin-top: 50px;
    }
    .footer-nav {
        padding: 40px 10px 0 10px;
    }
    .footer-flex {
        padding: 25px 10px 0 10px;
    }
    .icons {
        width: 27px;
        height: 27px;
    }
    .footer-email {
        font-size: 12px;
        line-height: 150%;
    }
    .ellipse {
        width: 40px;
        height: 40px;
        left: -20px;
        top: 0;
    }
    .footer-info {
        top: 10px;
    }
    .frontendblock-div {
        font-size: 10px;
        line-height: 150%;
    }
}
